# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode
DerivedData/
build/
Build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
macos/eyeChat/eyeChat.xcodeproj/xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio dependency manager
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Provisioning profiles & dSYM artifacts
*.mobileprovision
*.provisionprofile
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Index compatibility builds
.spi-build/
